<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MARIN</title>
    <meta name="description" content="Portfolio" />

    <link rel="stylesheet" href="css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="header__content">
        <div class="header__logo-container">
          <div class="header__logo-img-cont">
            <img
              src="./assets/png/marin.png"
              alt="Ram Maheshwari Logo Image"
              class="header__logo-img"
            />
          </div>
          <span class="header__logo-sub">Nicolas MARIN</span>
        </div>
        <div class="header__main">
          <ul class="header__links">
            <li class="header__link-wrapper">
              <a href="./index.html" class="header__link"> Menu </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./index.html#about" class="header__link">A propos </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./index.html#projects" class="header__link">
                Projets
              </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./index.html#contact" class="header__link"> Contact </a>
            </li>
            <!-- <li class="header__link-wrapper">
              <a href="./index.html#contact" class="header__link"> Échalotte </a>
            </li> -->
          </ul>
          <div class="header__main-ham-menu-cont">
            <img
              src="./assets/svg/ham-menu.svg"
              alt="hamburger menu"
              class="header__main-ham-menu"
            />
            <img
              src="./assets/svg/ham-menu-close.svg"
              alt="hamburger menu close"
              class="header__main-ham-menu-close d-none"
            />
          </div>
        </div>
      </div>
      <div class="header__sm-menu">
        <div class="header__sm-menu-content">
          <ul class="header__sm-menu-links">
            <li class="header__sm-menu-link">
              <a href="./index.html"> Home </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="./index.html#about"> About </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="./index.html#projects"> Projects </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="./index.html#contact"> Contact </a>
            </li>
            <!-- <li class="header__sm-menu-link">
              <a href="./index.html#contact"> Échalotte </a>
            </li> -->
          </ul>
        </div>
      </div>
    </header>
    <section class="home-hero">
      <div class="home-hero__content">
        <h1 class="heading-primary">nicolas marin</h1>
        <div class="home-hero__info">
          <p class="text-primary">
           DÉVELOPPEUR FULL STACK | ORIENTÉ BACK END | PASSIONNÉ PAR L'ARCHITECTURE LOGICIELLE
          </p>
        </div>
        <div class="home-hero__cta">
          <a href="#projects" class="btn btn--bg">Projets</a>
        </div>
      </div>
      <div class="home-hero__socials">
        <div class="home-hero__social">
          <a href="https://www.linkedin.com/in/nicolas-marin-2a24b5133/" class="home-hero__social-icon-link">
            <img
              src="./assets/png/linkedin-ico.png"
              alt="icon"
              class="home-hero__social-icon"
            />
          </a>
        </div>
        <div class="home-hero__social">
          <a href="https://github.com/M4RIIN" class="home-hero__social-icon-link">
            <img
              src="./assets/png/github-ico.png"
              alt="icon"
              class="home-hero__social-icon"
            />
          </a>
        </div>
      </div>
      <div class="home-hero__mouse-scroll-cont">
        <div class="mouse"></div>
      </div>
    </section>
    <section id="about" class="about sec-pad">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="heading-sec__main">à propos de moi</span>
          <span class="heading-sec__sub">
            Passionné d'informatique, sensible aux bonnes pratiques
            je travaille constamment mes compétences afin de pouvoir endosser
            la casquette d'<strong>Architecte Logiciel</strong>. Principes <strong>SOLID</strong>
            , <strong>Design Pattern</strong>, <strong>TDD</strong> sont les outils que j'utilise.
            Voulant me dépasser quotidiennement je réalise régulierement <strong>kata</strong></storng>,
            mini-projets.
            
          </span>
        </h2>
        <div class="about__content">
          <div class="about__content-main">
            <h3 class="about__content-title">Personnelement!</h3>
            <div class="about__content-details">
              <p class="about__content-details-para">
                Originaire de Toulouse, vivant et curieux, j'aime le contact humain.
                J'aime apprendre et partager mes connaissances.
                Roi auto-proclamé du babyfoot et de la pétanque. Je sais travailler en équipe, 
                écouter et me remettre en question. Soucieux du bien être des autres
                j'essaie de mettre l'autre en avant.
                <br>
                J'aime refléchir en amont pour proposer une solution élégante qui me plait.
                Je dévore régulierement les livres de Robert C. Martin ( Uncle Bob ).                
            </div>
            <a href="#contact" class="btn btn--med btn--theme dynamicBgClr"
              >Contacter</a
            >
          </div>
          <div class="about__content-skills">
            <h3 class="about__content-title">Mes compétences techniques</h3>
            <h5 class="about__content-subtitle">Maîtrisées</h5>
            <div class="skills">
              <div class="skills__skill">
                <a href="./angular.html">ANGULAR</a></div>
              <div class="skills__skill">
                <a href="./springboot.html">
                  SPRING BOOT
                </a>
              </div>
              <div class="skills__skill">
                <a href="./java.html">
                  JAVA
                </a>
              </div>
            </div>
            <h5 class="about__content-subtitle">Satisfaisantes</h5>
            <div class="skills">
              <div class="skills__skill">GIT</div>
              <div class="skills__skill">C#</div>
              <div class="skills__skill">SQL</div>
            </div>
            <h3 class="about__content-title" style="margin-top: 20px;">Mes compétences transverses</h3>
            <div class="skills">
              <div class="skills__skill">Le goût pour les défis</div>
              <div class="skills__skill">Gestion de projets</div>
              <div class="skills__skill">Travail d'équipe</div>
              <div class="skills__skill">Curiosité</div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <section id="parcours" class="" style="padding: 7rem 0;">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="heading-sec__main">Mon parcours</span>
        </h2>
        <div class="">
          
          <div class="history-tl-container">
            <ul class="tl">
              <li class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                  2020 - 2023
              </div>
              <div class="item-title">ALTERNANCE SIGEMS / BERGER-LEVRAULT ( 2 ANS )</div>
              <div class="item-detail">Création d'une application web permettant la gestion du séjour administratif du patient au</div>
              <div class="item-detail">sein des hopitaux et des cliniques - Angular / Java ( SpringBoot )</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                2019
              </div>
              <div class="item-title">CERTIFICATION VOLTAIRE</div>
              <div class="item-detail">548 points</div>
              <div class="item-detail">CSCV : 4MK6D3</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                2019
              </div>
              <div class="item-title">PROJET IN'TECH -RESTO PRO CONSULT</div>
              <div class="item-detail">Création d'une application android permettant le suivi du PMS</div>
              <div class="item-detail">( Plan de Maîtrise Sanitaire ) - Java Android</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                2018
              </div>
              <div class="item-title">STAGE THALES AVIONICS ( 3 MOIS )</div>
              <div class="item-detail">Création d'un outil d'optimisation du carburant pour les compagnies aérienne - Python</div>
              <div class="item-detail">Création d'un scanner de QR CODE sur Raspberry Pi</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                2016 - 2018
              </div>
              <div class="item-title">IUT GEII ( GÉNIE ÉLÉCTRIQUE & INFORMATIQUE INDUSTRIELLE )</div>
              <div class="item-detail">Faculté Paul Sabatier, Toulouse</div>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <div class="timestamp">
                2015
              </div>
              <div class="item-title">BACCALAURÉAT SCIENTIFIQUE</div>
              <div class="item-detail">Lycée Clémence Royer, Fonsorbes</div>
            </li>
          </ul>
        </div>
        </div>
      </div>
    </section>

    <section id="projects" class="projects sec-pad">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-bg">
          <span class="heading-sec__main">Projets</span>
          <span class="heading-sec__sub">
C'est une liste de projets qui me tiennent à coeur ou qui sont important dans mon parcours.
          </span>
        
        </h2>
       
        <div class="projects__content">
          <div class="projects__row">
            <div class="projects__row-img-cont">
              <img
                src="./assets/png/blpmsi.png"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">BL.PMSI</h3>
              <p class="projects__row-content-desc">
               BL.PMSI  est module logiciel expert sur la gestion des activités MCO, SSR, HAD et PSY auquel j'ai participé durant mes années d'alternance.
              </p>
              <a
                href="./bl-pmsi.html"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Détails</a
              >
            </div>
          </div>
          <div class="projects__row">
            <div class="projects__row-img-cont">
              <img
                src="./assets/png/livesplit.png"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">LiveSplit Informations</h3>
              <p class="projects__row-content-desc">
                LiveSplit Informations est un projet personel basé sur le logiciel Open Source, LiveSplit qui permet aux speedrunners de pouvoir
                timer leur courses avec précision. 
              </p>
              <a
                href="./liveSplitInformation.html"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Case Study</a
              >
            </div>
          </div>
          <!-- <div class="projects__row">
            <div class="projects__row-img-cont">
              <img
                src="./assets/jpeg/project-mockup-example.jpeg"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">Project 3</h3>
              <p class="projects__row-content-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                facilis tempora, explicabo quae quod deserunt eius sapiente
                praesentium.
              </p>
              <a
                href="./project-3.html"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Case Study</a
              >
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <section id="contact" class="contact sec-pad dynamicBg">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="heading-sec__main heading-sec__main--lt">Contact</span>
          <span class="heading-sec__sub heading-sec__sub--lt">
Voici un formulaire pour me contacter par e-mail si vous avez des questions ou envie qu'on travaille ensemble.
          </span>
        </h2>
        <div class="contact__form-container">
          <form action="#" class="contact__form">
            <div class="contact__form-field">
              <label class="contact__form-label" for="name">Name</label>
              <input
                required
                placeholder="Enter Your Name"
                type="text"
                class="contact__form-input"
                name="name"
                id="name"
              />
            </div>
            <div class="contact__form-field">
              <label class="contact__form-label" for="email">Email</label>
              <input
                required
                placeholder="Enter Your Email"
                type="text"
                class="contact__form-input"
                name="email"
                id="email"
              />
            </div>
            <div class="contact__form-field">
              <label class="contact__form-label" for="message">Message</label>
              <textarea
                required
                cols="30"
                rows="10"
                class="contact__form-input"
                placeholder="Enter Your Message"
                name="message"
                id="message"
              ></textarea>
            </div>
            <button type="submit" class="btn btn--theme contact__btn">
              Submit
            </button>
          </form>
        </div>
      </div>
    </section>
    <footer class="main-footer">
      <div class="main-container">
        <div class="main-footer__upper">
          <div class="main-footer__row main-footer__row-1">
            <h2 class="heading heading-sm main-footer__heading-sm">
              <span>Social</span>
            </h2>
            <div class="main-footer__social-cont">
              <a target="_blank" rel="noreferrer" href="#">
                <img
                  class="main-footer__icon"
                  src="./assets/png/linkedin-ico.png"
                  alt="icon"
                />
              </a>
              <a target="_blank" rel="noreferrer" href="#">
                <img
                  class="main-footer__icon"
                  src="./assets/png/github-ico.png"
                  alt="icon"
                />
              </a>
              <a target="_blank" rel="noreferrer" href="#">
                <img
                  class="main-footer__icon"
                  src="./assets/png/twitter-ico.png"
                  alt="icon"
                />
              </a>
              <a target="_blank" rel="noreferrer" href="#">
                <img
                  class="main-footer__icon"
                  src="./assets/png/yt-ico.png"
                  alt="icon"
                />
              </a>
              <a target="_blank" rel="noreferrer" href="#">
                <img
                  class="main-footer__icon main-footer__icon--mr-none"
                  src="./assets/png/insta-ico.png"
                  alt="icon"
                />
              </a>
            </div>
          </div>
          <div class="main-footer__row main-footer__row-2">
            <h4 class="heading heading-sm text-lt">Nicolas MARIN</h4>
            <p class="main-footer__short-desc">
              Portfolio réalisé afin de valider mon cursurs d'ingenieur logiciel.
            </p>
          </div>
        </div>

        <div class="main-footer__lower">
          &copy; Copyright 2022. Made by
          <a rel="noreferrer" target="_blank" href="https://rammaheshwari.com"
            >Nicolas MARIN</a
          >
        </div>
      </div>
    </footer>

    <script src="./index.js"></script>
  </body>
</html>
