<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>MARIN</title>
    <meta name="description" content="Portfolio" />

    <link rel="stylesheet" href="css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="header__content">
        <div class="header__logo-container">
          <div class="header__logo-img-cont">
            <img
              src="./assets/png/marin.png"
              alt="Ram Maheshwari Logo Image"
              class="header__logo-img"
            />
          </div>
          <span class="header__logo-sub">Nicolas MARIN</span>
        </div>
        <div class="header__main">
          <ul class="header__links">
            <li class="header__link-wrapper">
              <a href="./index.html" class="header__link"> Menu </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./index.html#about" class="header__link">A propos </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./index.html#projects" class="header__link">
                Projets
              </a>
            </li>
            <li class="header__link-wrapper">
              <a href="./index.html#contact" class="header__link"> Contact </a>
            </li>
            <!-- <li class="header__link-wrapper">
              <a href="./index.html#contact" class="header__link"> Échalotte </a>
            </li> -->
            <li>
              <div class="dropdown">
                <button class="dropbtn">Compétences techniques</button>
                <div class="dropdown-content">
                  <a href="./angular.html">
                    Angular
                  </a>
                  <a href="./springboot.html">
                    SPRING BOOT
                  </a>
                  <a href="./java.html">
                    Java
                  </a>
                  <a href="./cicd.html">
                    CI/CD
                  </a>
                  <a href="./csharp.html">
                    C#
                  </a>
                  <a href="./sql.html">
                    SQL
                  </a>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown">
                <button class="dropbtn">Compétences transverses</button>
                <div class="dropdown-content">
                  <a href="./agilite.html">
                    Agilité
                  </a>
                  <a href="./pedagogue.html">
                    Pédagogue
                  </a>
                  <a href="./travail-equipe.html">
                    Travail d'équipe
                  </a>
                  <a href="./curiosite.html">
                    Curiosité
                  </a>
                </div>
              </div>
            </li>
          </ul>

          <div class="header__main-ham-menu-cont">
            <img
              src="./assets/svg/ham-menu.svg"
              alt="hamburger menu"
              class="header__main-ham-menu"
            />
            <img
              src="./assets/svg/ham-menu-close.svg"
              alt="hamburger menu close"
              class="header__main-ham-menu-close d-none"
            />
          </div>
        </div>
      </div>
      <div class="header__sm-menu">
        <div class="header__sm-menu-content">
          <ul class="header__sm-menu-links">
            <li class="header__sm-menu-link">
              <a href="./index.html"> Home </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="./index.html#about"> About </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="./index.html#projects"> Projects </a>
            </li>

            <li class="header__sm-menu-link">
              <a href="./index.html#contact"> Contact </a>
            </li>
            <!-- <li class="header__sm-menu-link">
              <a href="./index.html#contact"> Échalotte </a>
            </li> -->
          </ul>
        </div>
      </div>
    </header>
    <section class="home-hero">
      <div class="home-hero__content">
        <h1 class="heading-primary">nicolas marin</h1>
        <div class="home-hero__info">
          <p class="text-primary">
           DÉVELOPPEUR FULL STACK | ORIENTÉ BACK END | PASSIONNÉ PAR L'ARCHITECTURE LOGICIELLE
          </p>
        </div>
        <div class="home-hero__cta">
          <a href="#projects" class="btn btn--bg">Projets</a>
        </div>
      </div>
      <div class="home-hero__socials">
        <div class="home-hero__social">
          <a href="https://www.linkedin.com/in/nicolas-marin-2a24b5133/" class="home-hero__social-icon-link">
            <img
              src="./assets/png/linkedin-ico.png"
              alt="icon"
              class="home-hero__social-icon"
            />
          </a>
        </div>
        <div class="home-hero__social">
          <a href="https://github.com/M4RIIN" class="home-hero__social-icon-link">
            <img
              src="./assets/png/github-ico.png"
              alt="icon"
              class="home-hero__social-icon"
            />
          </a>
        </div>
      </div>
      <div class="home-hero__mouse-scroll-cont">
        <div class="mouse"></div>
      </div>
    </section>
    <section id="about" class="about sec-pad">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="heading-sec__main">à propos de moi</span>
          <span class="heading-sec__sub">
            Passionné d'informatique, sensible aux bonnes pratiques, 
            je travaille constamment mes compétences afin de pouvoir endosser
            la casquette d'<strong>Architecte Logiciel</strong>. Principes <strong>SOLID</strong>, <strong>Design Pattern</strong>, <strong>TDD</strong> sont les outils que j'utilise.
            Voulant me dépasser quotidiennement, je réalise régulièrement des <strong>katas</strong></storng>,
            mini-projets.
            
          </span>
        </h2>
        <div class="about__content">
          <div class="about__content-main">
            <h3 class="about__content-title">Personnellement</h3>
            <div class="about__content-details">
              <p class="about__content-details-para">
                Originaire de Toulouse, vivant et curieux, j'aime le contact humain.
                J'aime apprendre et partager mes connaissances. Je sais travailler en équipe, 
                écouter et me remettre en question. Soucieux du bien-être des autres
                j'essaie de mettre l'autre en avant.
                <br>
                J'aime réfléchir en amont pour proposer une solution élégante qui me plaît.
                Je dévore régulièrement les livres de Robert C. Martin (Uncle Bob).
                <br>
                Mes valeurs sont l'intégrité, loyauté et respect.
                Passionné par l'informatique, le cinéma et la musique.
                <br>
                J'aime pouvoir régler des problèmes du quotidien de différentes manières aussi bien par la biais du bricologae que par celui de la combinaison de l'éléctronique et de l'informatique.
                Je suis aussi batteur, la batterie rythme une musique et dirige le rythme à la  manière d'un chef de projet afin d'amener à bon port les autres membres du groupe.                
            </div>
            <a href="#contact" class="btn btn--med btn--theme dynamicBgClr"
              >Contacter</a
            >
          </div>
          <div class="about__content-skills">
            <h3 class="about__content-title">Mes compétences techniques</h3>
            <h5 class="about__content-subtitle">Maîtrisées</h5>
            <div class="skills">
              <div class="skills__skill">
                <a href="./angular.html">ANGULAR</a></div>
              <div class="skills__skill">
                <a href="./springboot.html">
                  SPRING BOOT
                </a>
              </div>
              <div class="skills__skill">
                <a href="./java.html">
                  JAVA
                </a>
              </div>
            </div>
            <h5 class="about__content-subtitle">Satisfaisantes</h5>
            <div class="skills">
              <div class="skills__skill">
                <a href="./cicd.html">CI/CD</a>
              </div>
              <div class="skills__skill">
                <a href="./csharp.html">C#</a>
              </div>
              <div class="skills__skill">
                <a href="./sql.html">SQL</a>
              </div>
            </div>
            <h3 class="about__content-title" style="margin-top: 20px;">Mes compétences transverses</h3>
            <div class="skills">
              <div class="skills__skill">
                <a href="./agilite.html">Agilité</a>
              </div>
              <div class="skills__skill">
                <a href="./pedagogue.html">Pédagogue</a>
              </div>
              <div class="skills__skill">
                <a href="./travail-equipe.html">Travail d'équipe</a>
              </div>
              <div class="skills__skill">
                <a href="./curiosite.html">Curiosité</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <section id="parcours" class="" style="padding: 7rem 0;">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="heading-sec__main">Mon parcours</span>
        </h2>
        <div class="">
          
          <div class="history-tl-container">
            <ul class="tl">
              <li class="tl-item" ng-repeat="item in retailer_history">
                <a href="https://www.berger-levrault.com/fr/">

                  <div class="timestamp">
                    2020 - 2023
                  </div>
                  <div class="item-title">ALTERNANCE SIGEMS / BERGER-LEVRAULT ( 2 ANS )</div>
                  <div class="item-detail">Création d'une application web permettant la gestion du séjour administratif du patient au</div>
                  <div class="item-detail">sein des hopitaux et des cliniques - Angular / Java ( SpringBoot )</div>
                </a>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <a href="https://mon.certificat-voltaire.fr/verification-certificat?code=4MK6D3">
              <div class="timestamp">
                2019
              </div>
              <div class="item-title">CERTIFICATION VOLTAIRE</div>
              <div class="item-detail">548 points</div>
              <div class="item-detail">CSCV : 4MK6D3</div>
            </a>
            </li>
			<li class="tl-item" ng-repeat="item in retailer_history">
        <a href="https://www.intechinfo.fr">

          <div class="timestamp">
            2018
          </div>
          <div class="item-title">ENTRÉE IN'TECH SUD AGEN</div>
          <div class="item-detail">École d'informatique à vocation professionnalisante</div>
          <div class="item-detail">Délivre des titres RNCP niveau 1 (Bac+5) en Ingénierie du logiciel</div>
        </a>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <a href="https://www.thalesgroup.com/fr/aeronautique">
                <div class="timestamp">
                  2018
                </div>
                <div class="item-title">STAGE THALES AVIONICS ( 3 MOIS )</div>
                <div class="item-detail">Création d'un outil d'optimisation du carburant pour les compagnies aérienne - Python</div>
                <div class="item-detail">Création d'un scanner de QR CODE sur Raspberry Pi</div>
                <div class="item-detail">Réalisé suite à mon DUT GEII</div>
              </a>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <a href="https://iut.univ-tlse3.fr/genie-electrique-informatique-industrielle">
                <div class="timestamp">
                  2016 - 2018
                </div>
                <div class="item-title">IUT GEII ( GÉNIE ÉLÉCTRIQUE & INFORMATIQUE INDUSTRIELLE )</div>
                <div class="item-detail">Faculté Paul Sabatier, Toulouse</div>
                <div class="item-detail">Apprentissage de l'éléctronique, de la physique et enseignement scientifique</div>
              </a>
            </li>
            <li class="tl-item" ng-repeat="item in retailer_history">
              <a href="https://clemence-royer.mon-ent-occitanie.fr">
                <div class="timestamp">
                  2015
                </div>
                <div class="item-title">BACCALAURÉAT SCIENTIFIQUE</div>
                <div class="item-detail">Lycée Clémence Royer, Fonsorbes</div>
              </a>
            </li>
          </ul>
        </div>
        </div>
      </div>
    </section>

    <section id="projects" class="projects sec-pad">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-bg">
          <span class="heading-sec__main">Projets</span>
          <span class="heading-sec__sub">
C'est une liste de projets qui me tiennent à coeur ou qui sont important dans mon parcours.
          </span>
        
        </h2>
       
        <div class="projects__content">
          <div class="projects__row">
            <div class="projects__row-img-cont">
              <img
                src="./assets/png/blpmsi.png"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">BL.PMSI</h3>
              <p class="projects__row-content-desc">
               BL.PMSI est un module logiciel expert sur la gestion des activités MCO, SSR, HAD et PSY auquel j'ai participé durant mes années d'alternance.
              </p>
              <a
                href="./bl-pmsi.html"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Détails</a
              >
            </div>
          </div>
          <div class="projects__row">
            <div class="projects__row-img-cont">
              <img
                src="./assets/png/livesplit.png"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">LiveSplit Informations</h3>
              <p class="projects__row-content-desc">
                LiveSplit Informations est un projet personnel basé sur le logiciel Open Source LiveSplit qui permet aux speedrunners de pouvoir
                timer leurs courses avec précision. 
              </p>
              <a
                href="./liveSplitInformation.html"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Détails</a
              >
            </div>

          </div>
          <div class="projects__row">
            <div class="projects__row-img-cont">
              <img
                src="./assets/png/vox-populi-computer.png"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">Vox Populi</h3>
              <p class="projects__row-content-desc">
                Vox Populi est une application banque d'extrait sonore/quizz sur les doubleurs français et leurs doublages, disponible sur le Google Play Store.
              </p>
              <a
                href="./vox-populi.html"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Détails</a
              >
            </div>
          </div>

          <div class="projects__row">
            <div class="projects__row-img-cont">
              <img
                src="./assets/png/rpc-computer.png"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">RPC</h3>
              <p class="projects__row-content-desc">
                RPC est une application mobile Android réalisée durant mon cursus à IN'TECH Sud Agen permettant de respecter le Plan de Mesure Sanitaire (PMS).
              </p>
              <a
                href="./rpc.html"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Détails</a
              >
            </div>
          </div>

          <div class="projects__row">
            <div class="projects__row-img-cont">
              <img
                src="./assets/png/upsa_compteur.png"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">Upsa Calendar</h3>
              <p class="projects__row-content-desc">
                Upsa Calendar est un progiciel permettant de planifier des réunions au sein d'UPSA sans jamais que ces réunions n'empiètent sur d'autres, réalisé en C#.
              </p>
              <a
                href="./upsa-calendar.html"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Détails</a
              >
            </div>
          </div>

          <!-- <div class="projects__row">
            <div class="projects__row-img-cont">
              <img
                src="./assets/jpeg/project-mockup-example.jpeg"
                alt="Software Screenshot"
                class="projects__row-img"
                loading="lazy"
              />
            </div>
            <div class="projects__row-content">
              <h3 class="projects__row-content-title">Project 3</h3>
              <p class="projects__row-content-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic
                facilis tempora, explicabo quae quod deserunt eius sapiente
                praesentium.
              </p>
              <a
                href="./project-3.html"
                class="btn btn--med btn--theme dynamicBgClr"
                target="_blank"
                >Case Study</a
              >
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <section id="contact" class="contact sec-pad dynamicBg">
      <div class="main-container">
        <h2 class="heading heading-sec heading-sec__mb-med">
          <span class="heading-sec__main heading-sec__main--lt">Contact</span>
          <span class="heading-sec__sub heading-sec__sub--lt">
Voici un formulaire pour me contacter par e-mail si vous avez des questions ou envie qu'on travaille ensemble.
          </span>
        </h2>
        <div class="contact__form-container">
          <form action="#" class="contact__form">
            <div class="contact__form-field">
              <label class="contact__form-label" for="name">Nom</label>
              <input
                required
                placeholder="Entrez votre nom"
                type="text"
                class="contact__form-input"
                name="name"
                id="name"
              />
            </div>
            <div class="contact__form-field">
              <label class="contact__form-label" for="email">Email</label>
              <input
                required
                placeholder="Entrez votre adresse e-mail"
                type="text"
                class="contact__form-input"
                name="email"
                id="email"
              />
            </div>
            <div class="contact__form-field">
              <label class="contact__form-label" for="message">Message</label>
              <textarea
                required
                cols="30"
                rows="10"
                class="contact__form-input"
                placeholder="Entrez votre message"
                name="message"
                id="message"
              ></textarea>
            </div>
            <button type="submit" class="btn btn--theme contact__btn">
              Envoyer
            </button>
          </form>
        </div>
      </div>
    </section>
    <footer class="main-footer">
      <div class="main-container">
        <div class="main-footer__upper">
          <div class="main-footer__row main-footer__row-1">
            <h2 class="heading heading-sm main-footer__heading-sm">
              
            </h2>
            
          </div>
          <div class="main-footer__row main-footer__row-2">
            <h4 class="heading heading-sm text-lt">Nicolas MARIN</h4>
            <p class="main-footer__short-desc">
              Portfolio réalisé afin de valider mon cursurs d'ingénieur logiciel.
            </p>
          </div>
        </div>

        <div class="main-footer__lower">
          &copy; Copyright 2022. Made by
          <a rel="noreferrer"  href="./index.html"
            >Nicolas MARIN</a
          >
        </div>
      </div>
    </footer>

    <script src="./index.js"></script>
  </body>
</html>
